*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: center;
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/img/bg_image_1.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}

.form{
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
    color: #fff;
    font-family: 'roboto', sans-serif;
}

.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}

input,
.submit-btn{
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(128, 128, 128, .8);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}

input::placeholder{
    color: #fff;
}

input:focus,
.submit-btn:hover{
    background-color: #fff;
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: #00D9A5;
    border: none;
    color: #fff;

    transition: .5s;
    text-transform: capitalize;
}

.submit-btn:hover{
    background-color: rgba(128, 128, 128, .8);
    color: #fff;
}

.link{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    display: block;
    margin: 30px auto;
}

.link:hover{
    color: #1E90FF;
}